.frameChild {
  height: 91px;
  width: 1440px;
  position: relative;
  border-bottom: 1px solid var(--color-gray-1000);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.expensetracker,
.icon {
  position: absolute;
  z-index: 1;
}
.icon {
  top: 5px;
  left: 0;
  width: 27px;
  height: 16px;
  overflow: hidden;
}
.expensetracker {
  text-decoration: none;
  top: 0;
  left: 35px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  font-weight: 700;
  color: inherit;
  white-space: nowrap;
}
.iconParent {
  align-self: stretch;
  height: 26px;
  position: relative;
}
.frameWrapper {
  width: 226px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) 0 0;
  box-sizing: border-box;
}
.imageIcon {
  height: 44px;
  width: 44px;
  position: relative;
  border-radius: var(--br-21xl);
  object-fit: contain;
}
.alexRybachok {
  text-decoration: none;
  position: relative;
  letter-spacing: -0.02em;
  color: inherit;
  display: inline-block;
  min-width: 105px;
  white-space: nowrap;
}
.alexRybachokWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 12.5px 0 0;
}
.chevronDownIcon {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.chevronDownWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) 0 0;
}
.rectangleParent,
.user {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.user {
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-200);
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-base);
  gap: var(--gap-5xs);
  z-index: 1;
  font-size: var(--font-size-base);
  color: var(--color-gray-700);
}
.rectangleParent {
  align-self: stretch;
  border-bottom: 1px solid var(--color-gray-1000);
  box-sizing: border-box;
  justify-content: center;
  padding: var(--padding-lg) var(--padding-xl) 15px;
  gap: 261px;
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-gray-100);
  font-family: var(--font-suisse-intl);
}
.captureAndOrganize,
.expenseLog {
  position: relative;
  letter-spacing: -0.02em;
}
.expenseLog {
  margin: 0;
  width: 221px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.captureAndOrganize {
  align-self: stretch;
  font-size: var(--font-size-base);
  color: var(--color-gray-700);
}
.expenseLogParent,
.totalIncomeParent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.expenseLogParent {
  flex-direction: column;
  gap: 15px;
}
.totalIncomeParent {
  flex-direction: row;
  gap: var(--gap-5xl);
}
.blockChild {
  height: 302px;
  width: 630px;
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-200);
  display: none;
  max-width: 100%;
  z-index: 0;
}
.categoryDots,
.categoryDots1 {
  height: 285px;
  width: 292px;
  bottom: -82px;
  left: 40px;
  border-radius: 50%;
}
.categoryDots {
  position: absolute;
  margin: 0 !important;
  background-color: var(--color-gray-800);
  z-index: 1;
}
.categoryDots1 {
  background-color: var(--color-gray-100);
  z-index: 2;
}
.categoryDots1,
.categoryDots2,
.frameItem {
  position: absolute;
  margin: 0 !important;
}
.categoryDots2 {
  height: 285px;
  width: 292px;
  bottom: -82px;
  left: 40px;
  border-radius: 50%;
  background-color: var(--color-mediumseagreen-100);
  z-index: 3;
}
.frameItem {
  height: 163.6px;
  width: 174px;
  right: -97.7px;
  bottom: -155.6px;
  border-radius: var(--br-3xs);
  object-fit: contain;
  z-index: 4;
}
.expensesCategories {
  flex: 1;
  position: relative;
  z-index: 1;
}
.vectorParent {
  width: 155px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.b {
  height: 31px;
  position: relative;
  display: inline-block;
  min-width: 71px;
  z-index: 4;
}
.frameContainer,
.wrapper {
  display: flex;
  align-items: flex-start;
}
.wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-100);
}
.frameContainer {
  width: 181px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 175px;
  min-width: 181px;
}
.hobbyIcon {
  width: 12px;
  height: 12px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-mediumspringgreen);
  z-index: 1;
}
.hobbyIconWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs-5) 0 0;
}
.hobby {
  position: relative;
  display: inline-block;
  min-width: 49px;
  z-index: 1;
}
.frameParent3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.productsIcon {
  width: 12px;
  height: 12px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-mediumseagreen-100);
  z-index: 1;
}
.productsIconWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs-5) 0 0;
}
.products {
  position: relative;
  display: inline-block;
  min-width: 67px;
  z-index: 1;
}
.frameParent2,
.frameParent4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.frameParent2 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-base);
}
.frameInner {
  width: 12px;
  height: 12px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-gray-100);
  z-index: 1;
}
.ellipseWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs-5) 0 0;
}
.cinema {
  position: relative;
  display: inline-block;
  min-width: 58px;
  z-index: 1;
}
.frameParent6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.ellipseDiv {
  width: 12px;
  height: 12px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-gray-800);
  z-index: 1;
}
.ellipseContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs-5) 0 0;
}
.health {
  position: relative;
  display: inline-block;
  min-width: 49px;
  z-index: 1;
}
.frameParent7 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.frameParent5 {
  gap: var(--gap-base);
}
.frameParent1,
.frameParent5,
.frameWrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent1 {
  align-self: stretch;
  gap: var(--gap-base);
}
.frameWrapper1 {
  width: 87px;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
}
.b1,
.b2 {
  position: relative;
  z-index: 1;
}
.b1 {
  align-self: stretch;
}
.b2 {
  display: inline-block;
  min-width: 38px;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-12xs);
}
.b3,
.b4 {
  position: relative;
  z-index: 1;
}
.b3 {
  align-self: stretch;
}
.b4 {
  display: inline-block;
  min-width: 36px;
}
.frame,
.parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame {
  flex-direction: row;
  padding: 0 0 0 3px;
}
.parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-sm);
}
.rectangleDiv {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-400);
  width: 100%;
  height: 100%;
  display: none;
  z-index: 1;
}
.frameChild1,
.rectangleGroup {
  width: 6px;
  border-radius: var(--br-xs);
}
.frameChild1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #444446;
  height: 64px;
  z-index: 2;
}
.rectangleGroup {
  height: 126px;
  position: relative;
  background-color: var(--color-gray-400);
  z-index: 1;
}
.frameParent8 {
  width: 65px;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-xl);
  color: var(--color-gray-100);
}
.blockInner,
.frameDiv,
.frameParent8 {
  display: flex;
  align-items: flex-start;
}
.frameDiv {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.blockInner {
  height: 169px;
  width: 217px;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 217px;
}
.block,
.frameGroup {
  display: flex;
  max-width: 100%;
}
.block {
  align-self: stretch;
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-200);
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-21xl) var(--padding-21xl) 37px;
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
  color: var(--color-gray-900);
}
.frameGroup {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
  min-width: 409px;
}
.frameChild2 {
  width: 566px;
  height: 600px;
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-200);
  display: none;
  max-width: 100%;
  z-index: 0;
}
.expense {
  position: relative;
  letter-spacing: -0.02em;
  display: inline-block;
  min-width: 63px;
  z-index: 1;
}
.expenseWrapper,
.radiobuttonParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.expenseWrapper {
  flex-direction: column;
  padding: var(--padding-10xs-5) 0 0;
}
.radiobuttonParent {
  flex-direction: row;
  gap: var(--gap-5xs);
}
.income {
  text-decoration: none;
  align-self: stretch;
  position: relative;
  letter-spacing: -0.02em;
  color: inherit;
  z-index: 1;
}
.frameParent9,
.incomeWrapper,
.radiobuttonGroup {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.incomeWrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-10xs-5) 0 0;
}
.frameParent9,
.radiobuttonGroup {
  flex-direction: row;
}
.radiobuttonGroup {
  flex: 1;
  gap: var(--gap-5xs);
}
.frameParent9 {
  width: 210px;
  gap: var(--gap-xl);
}
.date1,
.mmddyyyy {
  position: relative;
  display: inline-block;
}
.date1 {
  letter-spacing: -0.02em;
  min-width: 34px;
}
.mmddyyyy {
  width: 90px;
  border: 0;
  outline: 0;
  font-family: var(--font-suisse-intl);
  font-size: var(--font-size-base);
  background-color: transparent;
  height: 24px;
  line-height: 24px;
  color: var(--color-gray-700);
  text-align: left;
  padding: 0;
}
.input {
  align-self: stretch;
  border-radius: var(--br-xs);
  border: 1px solid var(--color-gray-800);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-lg);
}
.calendarIcon {
  width: 20px;
  height: 20px;
  position: absolute;
  margin: 0 !important;
  top: 41px;
  left: 204px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.date {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-5xs);
  min-width: 157px;
}
.emptyInput,
.time1 {
  position: relative;
  display: inline-block;
}
.time1 {
  letter-spacing: -0.02em;
  min-width: 36px;
}
.emptyInput {
  width: 72px;
  line-height: 24px;
  white-space: nowrap;
}
.clockIcon {
  height: 20px;
  width: 20px;
  position: absolute;
  margin: 0 !important;
  top: 14px;
  left: 186px;
  overflow: hidden;
  flex-shrink: 0;
}
.block1,
.input1,
.time {
  display: flex;
  justify-content: flex-start;
}
.input1 {
  align-self: stretch;
  border-radius: var(--br-xs);
  border: 1px solid var(--color-gray-800);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-3xs) var(--padding-lg);
  position: relative;
  gap: var(--gap-3xs);
  color: var(--color-gray-700);
}
.block1,
.time {
  align-items: flex-start;
}
.time {
  width: 224px;
  flex-direction: column;
  gap: var(--gap-5xs);
}
.block1 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-xl);
  z-index: 1;
}
.enterTheSum,
.sum,
.uah {
  position: relative;
  display: inline-block;
}
.sum {
  letter-spacing: -0.02em;
  min-width: 34px;
  z-index: 1;
}
.enterTheSum,
.uah {
  line-height: 24px;
}
.enterTheSum {
  width: 103px;
}
.uah {
  min-width: 35px;
}
.input2,
.sumParent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.input2 {
  border-radius: var(--br-xs);
  border: 1px solid var(--color-gray-800);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-lgi) var(--padding-3xs)
    var(--padding-mid);
  gap: var(--gap-xl);
  z-index: 1;
  color: var(--color-gray-700);
}
.sumParent {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.add {
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: -0.02em;
  font-family: var(--font-suisse-intl);
  color: var(--color-gray-400);
  text-align: left;
  display: inline-block;
  min-width: 30px;
}
.btn {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-25xl);
  background-color: var(--color-mediumspringgreen);
  border-radius: var(--br-21xl);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.btn:hover {
  background-color: var(--color-limegreen);
}
.frameTextarea,
.rectangleContainer {
  justify-content: flex-start;
  box-sizing: border-box;
  font-size: var(--font-size-base);
}
.frameTextarea {
  border: 1px solid var(--color-gray-1000);
  background-color: var(--color-gray-400);
  height: 86px;
  width: 217px;
  outline: 0;
  margin: 0 !important;
  position: absolute;
  top: -68px;
  right: 0;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-lg) var(--padding-base);
  font-family: var(--font-suisse-intl);
  color: var(--color-gray-900);
  z-index: 1;
}
.rectangleContainer {
  width: 566px;
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-200);
  flex-direction: column;
  padding: var(--padding-21xl);
  position: relative;
  gap: var(--gap-xl);
  min-width: 566px;
}
.frameParent,
.home,
.homeInner,
.rectangleContainer {
  max-width: 100%;
  display: flex;
  align-items: flex-start;
}
.frameParent {
  width: 1240px;
  flex-direction: row;
  justify-content: center;
  gap: 44px;
}
.home,
.homeInner {
  box-sizing: border-box;
}
.homeInner {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  text-align: left;
  font-size: 38px;
  color: var(--color-gray-100);
  font-family: var(--font-suisse-intl);
}
.home {
  width: 1440px;
  background-color: var(--color-gray-400);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 50px;
  gap: 59px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .rectangleParent {
    gap: 130px;
  }
}
@media screen and (max-width: 1050px) {
  .expenseLog {
    font-size: 30px;
  }
  .rectangleContainer {
    flex: 1;
  }
  .frameParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .rectangleParent {
    gap: 65px;
  }
  .totalIncomeParent {
    flex-wrap: wrap;
  }
  .blockInner,
  .frameContainer {
    flex: 1;
  }
  .block {
    flex-wrap: wrap;
  }
  .frameGroup {
    gap: var(--gap-xl);
    min-width: 100%;
  }
  .block1 {
    flex-wrap: wrap;
  }
  .rectangleContainer {
    padding-top: var(--padding-7xl);
    padding-bottom: var(--padding-7xl);
    box-sizing: border-box;
    min-width: 100%;
  }
  .frameParent {
    gap: var(--gap-3xl);
  }
  .home {
    gap: 29px;
  }
}
@media screen and (max-width: 450px) {
  .rectangleParent {
    gap: 33px;
  }
  .expenseLog {
    font-size: 23px;
  }
  .b {
    font-size: var(--font-size-lgi);
  }
  .input2 {
    flex-wrap: wrap;
  }
}