.blockChild {
  position: absolute;
  top: 39px;
  left: 23px;
  border-radius: var(--br-smi);
  background-color: var(--color-mediumspringgreen);
  width: 43px;
  height: 43px;
}
.blockItem {
  position: absolute;
  top: 53px;
  left: 39px;
  width: 10.8px;
  height: 14.4px;
  object-fit: contain;
}
.b,
.yourBalance {
  position: relative;
}
.b {
  font-size: var(--font-size-5xl);
  color: var(--color-gray-400);
}
.text {
  position: absolute;
  top: 32px;
  left: 88px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.blockInner {
  position: absolute;
  top: 62px;
  left: 222px;
  border-radius: var(--br-smi);
  background-color: var(--color-mediumseagreen-300);
  width: 58px;
  height: 22px;
}
.block,
.div {
  position: absolute;
  top: 66px;
  left: 230px;
  font-size: var(--font-size-xs);
  color: var(--color-mediumseagreen-200);
}
.block {
  top: 447px;
  left: 50px;
  border-radius: var(--br-xl);
  background-color: var(--color-gray-100);
  width: 303px;
  height: 121px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-700);
  font-family: var(--font-suisse-intl);
}
